# clock pin for Nexys 2 Board
NET "CLK"   LOC = "B8";

NET "CLK" TNM_NET = "CLK";
TIMESPEC TS_CLK = PERIOD "CLK" 50000 kHz;

# 7 segment display
NET "nSEG<0>" LOC = "L18";
NET "nSEG<1>" LOC = "F18";
NET "nSEG<2>" LOC = "D17";
NET "nSEG<3>" LOC = "D16";
NET "nSEG<4>" LOC = "G14";
NET "nSEG<5>" LOC = "J17";
NET "nSEG<6>" LOC = "H14";
NET "nSEG<7>" LOC = "C17";

NET "nAN<0>" LOC = "F17";
NET "nAN<1>" LOC = "H17";
NET "nAN<2>" LOC = "C18";
NET "nAN<3>" LOC = "F15";

# Switches
NET "RST"   LOC = "R17";

# RS232 connector
NET "TXD" LOC = "P9";

# onBoard Cellular RAM
NET "MEMnOE"    LOC = "T2";
NET "MEMnWE"    LOC = "N7";
NET "MEMnCS"    LOC = "R6";
NET "MEMnLB"    LOC = "K5";
NET "MEMnUB"    LOC = "K4";
NET "MEMnADV"   LOC = "J4";
NET "MEMCLK"    LOC = "H5";
NET "MEMCRE"    LOC = "P7";

NET "MEMADDR<1>"  LOC = "J1";
NET "MEMADDR<2>"  LOC = "J2";
NET "MEMADDR<3>"  LOC = "H4";
NET "MEMADDR<4>"  LOC = "H1";
NET "MEMADDR<5>"  LOC = "H2";
NET "MEMADDR<6>"  LOC = "J5";
NET "MEMADDR<7>"  LOC = "H3";
NET "MEMADDR<8>"  LOC = "H6";
NET "MEMADDR<9>"  LOC = "F1";
NET "MEMADDR<10>" LOC = "G3";
NET "MEMADDR<11>" LOC = "G6";
NET "MEMADDR<12>" LOC = "G5";
NET "MEMADDR<13>" LOC = "G4";
NET "MEMADDR<14>" LOC = "F2";
NET "MEMADDR<15>" LOC = "E1";
NET "MEMADDR<16>" LOC = "M5";
NET "MEMADDR<17>" LOC = "E2";
NET "MEMADDR<18>" LOC = "C2";
NET "MEMADDR<19>" LOC = "C1";
NET "MEMADDR<20>" LOC = "D2";
NET "MEMADDR<21>" LOC = "K3";
NET "MEMADDR<22>" LOC = "D1";
NET "MEMADDR<23>" LOC = "K6";

NET "MEMDQ<0>"  LOC = "L1";
NET "MEMDQ<1>"  LOC = "L4";
NET "MEMDQ<2>"  LOC = "L6";
NET "MEMDQ<3>"  LOC = "M4";
NET "MEMDQ<4>"  LOC = "N5";
NET "MEMDQ<5>"  LOC = "P1";
NET "MEMDQ<6>"  LOC = "P2";
NET "MEMDQ<7>"  LOC = "R2";
NET "MEMDQ<8>"  LOC = "L3";
NET "MEMDQ<9>"  LOC = "L5";
NET "MEMDQ<10>" LOC = "M3";
NET "MEMDQ<11>" LOC = "M6";
NET "MEMDQ<12>" LOC = "L2";
NET "MEMDQ<13>" LOC = "N4";
NET "MEMDQ<14>" LOC = "R3";
NET "MEMDQ<15>" LOC = "T1";

# Leds
NET "LED<0>"  LOC = "J14";
NET "LED<1>"  LOC = "J15";
NET "LED<2>"  LOC = "K15";
NET "LED<3>"  LOC = "K14";
NET "LED<4>"  LOC = "E17";
NET "LED<5>"  LOC = "P15";
NET "LED<6>"  LOC = "F4";
NET "LED<7>"  LOC = "R4";
