//! **************************************************************************
// Written by: Map P.20131013 on Sat Aug 23 00:52:59 2014
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
NET
        "mcs_0/U0/microblaze_I/MicroBlaze_Core_I/Area.Data_Flow_I/PC_Module_I/Using_FPGA.pc_write_I"
        USELOWSKEWLINES;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "RST" LOCATE = SITE "P114" LEVEL 1;
COMP "TXD" LOCATE = SITE "P105" LEVEL 1;
COMP "nSEG<0>" LOCATE = SITE "P75" LEVEL 1;
COMP "nSEG<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "nSEG<2>" LOCATE = SITE "P66" LEVEL 1;
COMP "nSEG<3>" LOCATE = SITE "P67" LEVEL 1;
COMP "nSEG<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "nSEG<5>" LOCATE = SITE "P61" LEVEL 1;
COMP "nSEG<6>" LOCATE = SITE "P81" LEVEL 1;
COMP "nSEG<7>" LOCATE = SITE "P51" LEVEL 1;
COMP "SDRAM_ADDR<10>" LOCATE = SITE "P141" LEVEL 1;
COMP "SDRAM_ADDR<11>" LOCATE = SITE "P35" LEVEL 1;
COMP "SDRAM_ADDR<12>" LOCATE = SITE "P34" LEVEL 1;
COMP "SDRAM_DATA<10>" LOCATE = SITE "P23" LEVEL 1;
COMP "SDRAM_DATA<11>" LOCATE = SITE "P24" LEVEL 1;
COMP "SDRAM_DATA<12>" LOCATE = SITE "P26" LEVEL 1;
COMP "SDRAM_DATA<13>" LOCATE = SITE "P27" LEVEL 1;
COMP "SDRAM_DATA<14>" LOCATE = SITE "P29" LEVEL 1;
COMP "SDRAM_DATA<15>" LOCATE = SITE "P30" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P123" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P124" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P126" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P127" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P131" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P132" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P133" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P134" LEVEL 1;
COMP "nAN<0>" LOCATE = SITE "P85" LEVEL 1;
COMP "nAN<1>" LOCATE = SITE "P79" LEVEL 1;
COMP "nAN<2>" LOCATE = SITE "P56" LEVEL 1;
COMP "nAN<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "SDRAM_ADDR<0>" LOCATE = SITE "P140" LEVEL 1;
COMP "SDRAM_ADDR<1>" LOCATE = SITE "P139" LEVEL 1;
COMP "SDRAM_ADDR<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "SDRAM_ADDR<3>" LOCATE = SITE "P137" LEVEL 1;
COMP "SDRAM_ADDR<4>" LOCATE = SITE "P46" LEVEL 1;
COMP "SDRAM_ADDR<5>" LOCATE = SITE "P45" LEVEL 1;
COMP "SDRAM_ADDR<6>" LOCATE = SITE "P44" LEVEL 1;
COMP "SDRAM_ADDR<7>" LOCATE = SITE "P43" LEVEL 1;
COMP "SDRAM_ADDR<8>" LOCATE = SITE "P41" LEVEL 1;
COMP "SDRAM_ADDR<9>" LOCATE = SITE "P40" LEVEL 1;
COMP "SDRAM_DATA<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "SDRAM_DATA<1>" LOCATE = SITE "P10" LEVEL 1;
COMP "SDRAM_DATA<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "SDRAM_DATA<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "SDRAM_DATA<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "SDRAM_DATA<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "SDRAM_DATA<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "SDRAM_DATA<7>" LOCATE = SITE "P8" LEVEL 1;
COMP "SDRAM_DATA<8>" LOCATE = SITE "P21" LEVEL 1;
COMP "SDRAM_DATA<9>" LOCATE = SITE "P22" LEVEL 1;
COMP "SDRAM_DQM<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "SDRAM_DQM<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "SDRAM_BA<0>" LOCATE = SITE "P143" LEVEL 1;
COMP "SDRAM_BA<1>" LOCATE = SITE "P142" LEVEL 1;
COMP "SDRAM_CKE" LOCATE = SITE "P33" LEVEL 1;
COMP "SDRAM_CLK" LOCATE = SITE "P32" LEVEL 1;
COMP "SDRAM_nCAS" LOCATE = SITE "P5" LEVEL 1;
COMP "SDRAM_nCS" LOCATE = SITE "P1" LEVEL 1;
COMP "SDRAM_nRAS" LOCATE = SITE "P2" LEVEL 1;
COMP "SDRAM_nWE" LOCATE = SITE "P6" LEVEL 1;
NET "dcm_inst/clkin1" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

